* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    width: 100%;
}
:root {
    --sidebar-one-bg: #222c3c;
    --sidebar-two-bg: #1d2531;
    --white-color: #ffffff;
    --nav-link-color: #b7c0cd;
    --pale-grey-three: #e6eaee;
    --azure: #1a91eb;
    --blue-grey: #7f8fa4;
}

.drawer-one {
    position: fixed;
    z-index: 10;
    width: 240px;
    height: 100%;
    background-color: var(--sidebar-one-bg);
    border-color: #E7E7E9;
    transition: all 0.3s ease;
    transform: translateX(-400px);
}

.drawer-one.open {
    transform: translateX(0);
    overflow: auto;
}

.drawer-one .drawer-one-nav-container {
    padding: 24px 30px;
}

.drawer-one-nav-list {
    padding-bottom: 16px;
    border-bottom: 1px solid #2a3547;
}

.drawer-one-nav-list:last-of-type {
    border-bottom: none;
}

.drawer-one-nav-list .heading {
    padding-top: 0;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: #5b6779;
    font-size: 12px;
}

.drawer-one-nav-list .heading > p {
    margin: 0;
}

.drawer-one-nav-list .heading .icon-container {
    display: flex;
    align-items: flex-start;
}

.drawer-one-nav-list .icon-container > img {
    width: 13px;
}

.drawer-one-nav-list .drawer-one-nav-item,
.drawer-one-nav-list .drawer-one-nav-item__with-icon {
    padding: 8px 0;
}

.drawer-one-nav-list .drawer-one-nav-item a {
    display: flex;
    justify-content: space-between;
    color: var(--nav-link-color);
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
}

.drawer-one-nav-list .drawer-one-nav-item__with-icon a {
    display: flex;
    color: var(--nav-link-color);
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
}

.drawer-one-nav-list .drawer-one-nav-item__with-icon img {
    padding-right: 8px;
}

.drawer-one-nav-list .drawer-one-nav-item a.active {
    color: var(--white-color);
}

.drawer-two {
    position: fixed;
    z-index: 10;
    width: 100px;
    height: 100%;
    padding: 20px;
    background-color: var(--sidebar-two-bg);
    transition: all 0.3s ease;
    transform: translateX(-400px);
}

.drawer-two .drawer-two-nav__list > li {
    padding-bottom: 20px;
}

.drawer-two__bottom-section {
    position: absolute;
    bottom: 20px;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

#grid-icon, #settings-icon {
    flex: 1;
}

.goals {
    position: absolute;
    bottom: 20px;
    width: 75%;
}

.goals-amount {
    display: flex;
    justify-content: space-between;
}

.goals-amount p {
    margin-bottom: 2px;
    font-size: 12px;
    color: var(--white-color);
}

.goals-progress {
    display: flex;
    height: 4px;
    overflow: hidden;
    background-color: #2d3848;
    border-radius: 2px;
}

.goals-progress:after {
    display: block;
    clear: both;
    content: "";
}

.goals-progress__bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    text-align: center;background-image: linear-gradient(to left, #7d5be2, #9d8fe3);
    transition: width .6s ease;
}

#goals__total-amount {
    color: #eff3f6;
}

.main-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.header-one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 20px 30px;
    background-color: #fff;
}

.header-one .page-title {
    margin: 0;
    display: inline;
    font-size: 24px;
    color: #354052;
}

.header-dropdown {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.account-info-container {
    display: flex;
    align-items: center;
    position: relative;
}

.avatar-container {
    position: relative;
}

.avatar-container .avatar {
    width: 50px;
}

.avatar-container .online-sign {
    position: absolute;
    right: 0;
    top: 36px;
}

.account-info {
    position: relative;
    padding-left: 8px;
}

.account-info .user-name {
    margin: 0;
    padding-bottom: 4px;
    color: var(--azure);
    font-size: 16px;
}

.account-info .user-role {
    margin: 0;
    font-size: 14px;
    color: var(--blue-grey);
}

.header-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 20px 30px;
    background-color: var(--sidebar-two-bg);
    box-shadow: 0 -1px 0 0 var(--pale-grey-three);
}

.header-two__left {
    width: 30%;
}

.header-two__left > h2 {
    color: var(--white-color);
    margin: 0;
    padding-bottom: 4px;
    font-size: 20px;
}

.header-two__left > h5 {
    color: var(--blue-grey);
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
}

.header-two__right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.header-two__right .icons-section,
.header-two__right .metrics-section {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.header-two__right .icons-section {
    width: 35%;
    border-right: 1px solid #2e3847;
    align-items: center;
}

.header-two__right .metrics-section {
    text-align: center;
    width: 60%;
}

.header-two__right .metrics-section p:first-of-type {
    color: var(--white-color);
    font-size: 20px;
    margin: 0;
    padding-bottom: 4px;
}

.header-two__right .metrics-section p:last-of-type {
    color: var(--blue-grey);
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
}


.content-area {
    background: #f1f5f9;
}

@media screen and (max-width: 559px) {

}

@media screen and (min-width: 600px) {

    .drawer-one {
        position: fixed;
        transform: translateX(0);
        left: 100px;
    }

    .drawer-two {
        position: fixed;
        transform: translateX(0);
    }

    .main-content {
        margin-left: 340px;
        width: auto;
        flex-grow: 1;
    }

    .header-one, .header-two {
        position: relative;
        z-index: 1;
    }

}

@media screen and (min-width: 1024px) {

}