* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Circular', sans-serif;
}

@font-face {
    font-family: 'Circular';
    src: url("../fonts/Circular-Std-Bold.woff") format("woff"), url("../fonts/Circular-Std-Bold.otf") format("otf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url("../fonts/Circular-Std-Book.woff") format("woff"), url("../fonts/Circular-Std-Book.otf") format("otf");
    font-weight: 400;
    font-style: normal;
}

html {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    width: 100%;
}

:root {
    --sidebar-one-bg: #222c3c;
    --sidebar-two-bg: #1d2531;
    --white-color: #ffffff;
    --nav-link-color: #b7c0cd;
    --pale-grey-two: #eff3f6;
    --pale-grey-three: #e6eaee;
    --azure: #1a91eb;
    --blue-grey: #7f8fa4;
    --dark-grey-blue: #354052;
    --green-color: #299817;
    --light-green: #38ba24;
    --red-color: #d54642;
    --orange-color: #ff7800;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.drawer-one {
    position: fixed;
    z-index: 10;
    width: 240px;
    height: 100%;
    background-color: var(--sidebar-one-bg);
    border-color: #E7E7E9;
    transition: all 0.3s ease;
    transform: translateX(-400px);
}

.drawer-one.open {
    transform: translateX(0);
    overflow: auto;
}

.drawer-one .drawer-one-nav-container {
    padding: 24px 30px;
}

.drawer-one-nav-list {
    padding-bottom: 16px;
    border-bottom: 1px solid #2a3547;
}

.drawer-one-nav-list:last-of-type {
    border-bottom: none;
}

.drawer-one-nav-list .heading {
    padding-top: 0;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: #5b6779;
    font-size: 12px;
}

.drawer-one-nav-list .heading > p {
    margin: 0;
}

.drawer-one-nav-list .heading .icon-container {
    display: flex;
    align-items: flex-start;
}

.drawer-one-nav-list .icon-container > img {
    width: 13px;
}

.drawer-one-nav-list .drawer-one-nav-item,
.drawer-one-nav-list .drawer-one-nav-item__with-icon {
    padding: 8px 0;
}

.drawer-one-nav-list .drawer-one-nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drawer-one-nav-list .drawer-one-nav-item a {
    color: var(--nav-link-color);
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
}

.drawer-one-nav-list .drawer-one-nav-item__with-icon a {
    display: flex;
    color: var(--nav-link-color);
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
}

.drawer-one-nav-list .drawer-one-nav-item__with-icon img {
    padding-right: 8px;
}

.drawer-one-nav-list .drawer-one-nav-item a.active {
    color: var(--white-color);
}

.drawer-two {
    position: fixed;
    z-index: 10;
    width: 100px;
    height: 100%;
    padding: 20px;
    background-color: var(--sidebar-two-bg);
    transition: all 0.3s ease;
    transform: translateX(-400px);
}

.drawer-two .drawer-two-nav__list > li {
    padding-bottom: 20px;
}

.drawer-two__bottom-section {
    position: absolute;
    bottom: 20px;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

#grid-icon, #settings-icon {
    flex: 1;
}

.goals {
    position: absolute;
    bottom: 20px;
    width: 75%;
}

.goals-amount {
    display: flex;
    justify-content: space-between;
}

.goals-amount p {
    margin-bottom: 2px;
    font-size: 12px;
    color: var(--white-color);
}

.goals-progress {
    display: flex;
    height: 4px;
    overflow: hidden;
    background-color: #2d3848;
    border-radius: 2px;
}

.goals-progress:after {
    display: block;
    clear: both;
    content: "";
}

.goals-progress__bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    text-align: center;
    background-image: linear-gradient(to left, #7d5be2, #9d8fe3);
    transition: width .6s ease;
}

#goals__total-amount {
    color: var(--nav-link-color);
}

.main-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
    /*overflow: hidden;*/
}

.header-one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 10px 30px;
    background-color: #fff;
}

.header-one .page-title {
    margin: 0;
    display: inline;
    font-size: 24px;
    color: #354052;
}

.header-dropdown {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.account-info-container {
    display: flex;
    align-items: center;
    position: relative;
}

.avatar-container {
    position: relative;
}

.avatar-container .avatar {
    width: 50px;
}

.avatar-container .online-sign {
    position: absolute;
    right: 0;
    top: 36px;
}

.account-info {
    position: relative;
    padding-left: 8px;
}

.account-info .user-name {
    margin: 0;
    padding-bottom: 4px;
    color: var(--azure);
    font-size: 16px;
}

.account-info .user-role {
    margin: 0;
    font-size: 14px;
    color: var(--blue-grey);
}

.header-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 10px 30px;
    background-color: var(--sidebar-two-bg);
    box-shadow: 0 -1px 0 0 var(--pale-grey-three);
}

.header-two__left {
    width: 30%;
}

.header-two__left > h2 {
    color: var(--white-color);
    margin: 0;
    padding-bottom: 4px;
    font-size: 20px;
}

.header-two__left > h5 {
    color: var(--blue-grey);
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
}

.header-two__right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.header-two__right .icons-section,
.header-two__right .metrics-section {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.header-two__right .icons-section {
    width: 35%;
    border-right: 1px solid #2e3847;
    align-items: center;
}

.header-two__right .icons-section #attachments {
    position: relative;
    top: 4px;
}

.header-two__right .metrics-section {
    text-align: center;
    width: 60%;
    padding-right: 0;
}

.header-two__right .metrics-section p:first-of-type {
    color: var(--white-color);
    font-size: 20px;
    margin: 0;
    padding-bottom: 4px;
}

.header-two__right .metrics-section p:last-of-type {
    color: var(--blue-grey);
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
}

.content-area {
    position: relative;
    height: 100%;
    overflow: hidden;
    width: 100%;
    background: var(--pale-grey-two);
    padding: 30px;
}

.content-area-container {
    border: 1px solid var(--pale-grey-three);
    border-radius: 4px;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: var(--white-color);
    display: flex;
    overflow: hidden;
}

.content-area-container .left-section {
    width: 65%;
    background-color: var(--white-color);
}

.content-area-container .left-section .header {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 1px solid var(--pale-grey-three);
}

.content-area-container .left-section .dept-sales__information {
    position: relative;
    width: 40%;
}

.content-area-container .left-section .skill-group-bar {
    position: relative;
    width: 60%;
}

.content-area-container .header .skill-bar {
    width: 12px;
    height: 38px;
}

.content-area-container .left-section .content {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.content-area-container .left-section .content__left-section {
    margin-right: 32px;
}


.dept-sales__information .dept-sales__amount {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}

.dept-sales__information > p {
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--blue-grey);
}

.dept-sales__amount p,
.sales-total p {
    margin-bottom: 0;
}

.dept-sales__amount p:first-of-type {
    margin-bottom: 0;
    padding-right: 8px;
    font-size: 24px;
    color: var(--dark-grey-blue);
    border-right: 1px solid #e7e9ed;
}

.dept-sales__amount p:last-of-type {
    margin-bottom: 0;
    padding-left: 8px;
    color: var(--green-color);
    font-size: 24px;
}

.content-area-container .right-section {
    width: 35%;
    padding: 24px 14px;
    background-color: #fafbfc;
}

.right-section .latest-updates {
    position: relative;
    padding-bottom: 16px;
}

.latest-updates .heading,
.sales-reports .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: solid 1px var(--pale-grey-three);
}

.latest-updates .heading > h2,
.sales-reports .heading > h2 {
    font-size: 16px;
    color: var(--dark-grey-blue);
    margin: 0;
}

.latest-updates .heading > a,
.sales-reports .heading > a {
    font-size: 12px;
    color: var(--azure);
    margin: 0;
}

.latest-updates .update {
    margin-top: 20px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e7e9ed;
    padding: 16px 20px;
}

.update .update__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}

.update__header .update__header__left-section {
    display: flex;
    align-items: center;
}

.update__header__left-section > h4 {
    margin-left: 8px;
    font-size: 14px;
    color: var(--dark-grey-blue);
    margin-bottom: 0;
}

.update__body > p {
    margin: 0;
    font-size: 14px;
    color: var(--blue-grey);
}

.sales-reports .btn-group {
    width: 100%;
    display: flex;
    margin-top: 16px;
}

.sales-reports .btn-group button {
    background-image: linear-gradient(to top, #f2f4f7, #ffffff);
    border: solid 1px #ced0da;
}

.sales-reports .btn-group .btn-one,
.sales-reports .btn-group .btn-three {
    flex: 1;
    color: #ced0da;
}

.sales-reports .btn-group .btn-two {
    flex: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dark-grey-blue);
}

.sales {
    position: relative;
    padding: 16px 0;
}

.sales-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sales-information .sales-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.sales-amount p,
.sales-total p {
    margin-bottom: 0;
}

.sales-amount p:first-of-type {
    margin-bottom: 0;
    padding-right: 8px;
    font-size: 24px;
    color: var(--dark-grey-blue);
    border-right: 1px solid #e7e9ed;
}

.sales-amount p:last-of-type {
    margin-bottom: 0;
    padding-left: 8px;
    color: var(--green-color);
    font-size: 24px;
}

.sales-total p {
    color: var(--blue-grey);
    font-size: 14px;
}

.sales-progress {
    display: flex;
    height: 4px;
    overflow: hidden;
    background-color: #dfe4ee;
    border-radius: 2px;
}

.sales-progress:after {
    display: block;
    clear: both;
    content: "";
}

.sales-progress__bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 270px;
    text-align: center;
    background-color: var(--light-green);
    transition: width .6s ease;
}

.sales-report__summary li {
    display: flex;
    font-size: 14px;
}

.sales-report__summary li p:first-of-type {
    display: flex;
    color: var(--blue-grey);
    margin-bottom: 4px;
}

.sales-report__summary li p:last-of-type {
    color: var(--dark-grey-blue);
    padding-left: 16px;
    margin-bottom: 4px;
}

.sales-reports .action-buttons {
    padding-bottom: 16px;
}

.sales-reports .action-buttons .send-btn {
    background-image: linear-gradient(to top, #1991eb, #2da1f8);
    border: solid 1px #1585d8;
    text-align: center;
    border-radius: 4px;
    color: var(--white-color);
}

.sales-reports .action-buttons .download-btn {
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #39b54a, #34aa44);
    border: solid 1px #249533;
    text-align: center;
    color: var(--white-color);
}

.sales-reports .helper-info {
    display: flex;
    align-items: center;
}

.sales-reports .helper-info p {
    padding-left: 10px;
    color: var(--blue-grey);
    font-size: 13px;
}

.sales-reports .helper-info img {
    align-self: flex-start;
    position: relative;
    top: 2px;
}

.skill-group-bar {
    position: relative;
    display: flex;
}

.skill-bar {
    display: inline;
    position: relative;
    padding-left: 8px;
    margin: 0 1px 0 1px;
    border-radius: 2px;
}

.skill-bar.orange {
    background-color: var(--orange-color);
}

.skill-bar.red {
    background-color: var(--red-color);
}

.skill-bar.green {
    background-color: var(--light-green);
}

.skill-bar.grey {
    background-color: #96a3b7;
}

.skill-bar.light {
    background-color: #e2e7ee;
}

.user-percentage.green {
    color: var(--light-green);
}

.user-percentage.orange {
    color: var(--orange-color);
}

.user-percentage.red {
    color: var(--red-color);
}

.user-information .skill-group-bar {
    width: 12px;
    height: 14px;
}

.user-information .information-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information-section .user-avatar__name__role {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}

.user-avatar__name__role .user-avatar__container {
    width: 20%;
    padding-right: 8px;
}

.user-avatar__container img {
    width: 100%;
}

.user-avatar__name__role .user__name__role p {
    margin: 0;
    font-size: 14px;
}

.user__name__role p:first-of-type {
    color: var(--dark-grey-blue);
}

.user__name__role p:last-of-type {
    color: var(--blue-grey);
}

.user-miscellaneous {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
}

.user-miscellaneous p {
    font-size: 14px;
    color: var(--blue-grey);
}

.legend-section {
    display: flex;
    justify-content: space-between;
    padding: 8px 30px;
}

.legend-section .legend {
    width: 16px;
    height: 16px;
    border-radius: 3px;
}

.legend-section > li  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.legend-section > li > p {
    margin: 0;
    padding-left: 3px;
    font-size: 14px;
    color: var(--dark-grey-blue);
}

.legend-section .green {
    background: var(--light-green);
}

.legend-section .red {
    background: var(--red-color);
}

.legend-section .orange {
    background: var(--orange-color);
}

.legend-section .grey {
    background: #96a3b7;
}

@media screen and (max-width: 559px) {

}

@media screen and (min-width: 600px) {

    .drawer-one {
        position: fixed;
        transform: translateX(0);
        left: 100px;
    }

    .drawer-two {
        position: fixed;
        transform: translateX(0);
    }

    .main-content {
        margin-left: 340px;
        width: auto;
        flex-grow: 1;
    }

    .header-one, .header-two {
        position: relative;
        z-index: 1;
    }

}

@media screen and (min-width: 1024px) {

}